<h1>Create a new article</h1>

<%= form_with scope: :article, url: articles_path, data: { turbo: false }, local: true do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>
