<h1>Hello <%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>

<div>
	<%= link_to "Edit your profile", edit_user_path(@user) %>
</div>

<%= will_paginate @users %>

<%= render 'articles/article', obj: @users %>

<%= link_to 'Log out', logout_path, method: :delete %>

<%= will_paginate @users %>